<div>
  <div><%= @user.name %></div>
  <div><%= @user.email %></div>
  <% if current_user.id == params[:id].to_i %>
    <%= link_to '編集', profile_edit_path, class: "text-blue-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" %>
  <% end %>
</div>
